@import "@/styles/variables";
@import "@/styles/mixins";

.container {
	@include flex(center, center);
	position: relative;
	height: 40%;

	&__boxImg {
		cursor: pointer;
		// height: 80%;
		fill: transparent;
		stroke: $cl-main-pink;
		stroke-width: 8px;
	}
}
